<html>
<head>
	<title>Greenhouse - Flicker</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="icon" href="/static/icons/favicon.png" type="image/png">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
 		<a class="navbar-brand" href="/">My Greenhouse</a>
 		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item">
		        <a class="nav-link" href="/">Home</a>
			</li>

			<li class="nav-item">
			<a class="nav-link" href="temps">See Past Temps</a>
			</li>

			<li class="nav-item active">
			<a class="nav-link" href="flicker">Say Hi<span class="sr-only">(current)</span></a>
			</li>
		</ul>
	</div>
</nav>

<h1 class="text-center mt-2">Your Plants Say Hi</h1>

<img src="static/img/photo.jpg" alt="Greenhosue Photo" class="img-thumbnail mx-auto d-block img-fluid" height="500px" width="500px">

<script src="https://code.jquery.com/jquery-3.1.0.js"></script>

</body>
</html>
